<h1>Create a new person</h1>

<div class="form">
  <%= form_tag(employee_path) do %>
    <fieldset>
      <%= label_tag :first_name %>
      <%= text_field_tag :first_name %><br/>

      <%= label_tag :middle_name %>
      <%= text_field_tag :middle_name %><br/>

      <%= label_tag :last_name %>
      <%= text_field_tag :last_name %><br/>

      <%= label_tag :suffix %>
      <%= text_field_tag :suffix %><br/>

      <%= label_tag :email %>
      <%= text_field_tag :email %><br/>

      <%= label_tag :phone %>
      <%= text_field_tag :phone %><br/>

      <%= submit_tag "Create employee" %>
    </fieldset>
  <% end %>
</div>